#about-pc {
  display: block;
  width: 80%;
  height: auto;
  margin: -4% auto;
  padding: 4% 0;
}

#about-pc__img {
  width: 60%;
  height: auto;
  margin: 10% auto 0 auto;
  border-radius: 2em;
  overflow: hidden;
}

#about-pc__img img {
  width: 100%;
  height: auto;
}

#about-pc__txt {
  width: 100%;
  height: auto;
  margin: 4% auto 0 auto;
  padding: 1% 0;
  /* background-color: antiquewhite; */
}

#about-pc__txt--name {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  text-align: center;
  /* background-color: blueviolet; */
}

.about-pc__txt--bio {
  width: 80%;
  height: auto;
  margin: 4% auto 0 auto;
  font-size: 0.84rem;
  text-align: left;
  line-height: 2rem;
}

#about-sp {
  display: none;
  width: 80%;
  height: auto;
}
