/* ----------------- blog-archive ---------------- */
/* ----------------- blog-single ----------------- */
#blog-single__contents {
  width: 80%;
  height: auto;
  padding: 5% 0;
  margin: 2% auto 0 auto;
  text-align: center;
  /* background-color: aliceblue; */
}

#blog-single__ttl {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.99rem;
}

#blog-single__date {
  width: 80%;
  height: auto;
  font-size: 0.72rem;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

#blog-single__txt {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.88rem;
  text-align: left;
  line-height: 2;
}

#blog-single__thumbnail {
  width: 60%;
  height: auto;
  margin: 6% auto 0 auto;
  border-radius: 1em;
  overflow: hidden;
}

#blog-single__thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

#blog-single__back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 32px;
  margin: 8% auto 0 auto;
  font-size: 0.8rem;
  background-color: #f0b5b0;
  border-radius: 1em;
}

#blog-single__back a {
  color: #fbf0e3;
  text-decoration: none;
}
