/* -----スマホ向け---画面幅が767px以上の時に適用される----- */
@media screen and (min-width: 767px) {
  /* ----- beartalk ----- */
  #bear-talk {
    /* 表示される時に位置↓ */
    transform: translateX(10%) translateY(10%);
  }

  #bear-talk img {
    width: 100%;
    height: auto;
  }
  /* ----- → header ----- */
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* ------- works ------- */
  #works ul {
    display: flex;
    justify-content: center;
  }

  /* ------ service ------- */
  #service ul {
    justify-content: center;
  }

  #service li {
    width: 18%;
    height: auto;
  }

  /* -----　→ blog ------ */
  .blog-readmore {
    width: 6rem;
    height: 2rem;
    font-size: 0.88rem;
    transform: translate(180px);
  }
}

/* -----大きいPC幅向け---画面幅が1200px以上の時に適用される----- */
@media screen and (min-width: 1200px) {
  /* ------------------------- index.html -------------- */
  header,
  main,
  footer {
    max-width: 1200px;
    margin: 2% auto;
  }

  #service-popup {
    max-width: 1400px;
  }

  #nav-pc {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }

  #nav-pc ul {
    display: flex;
    align-items: center;
    width: 94%;
    height: auto;
  }

  .nav-toggle {
    display: none;
  }
}
