/* -----タブレット向け---画面幅が550px以上の時に適用される----- */
@media screen and (min-width: 550px) {
  /* -------- main-visual ------- */
  #main-visual p {
    font-size: 1.6rem;
  }
}
/* 



/* -----タブレット向け---画面幅が767px以上の時に適用される----- */
@media screen and (min-width: 767px) {
  /* ----- header -------- */

  /* ----- beartalk ----- */
  #bear-talk {
    /* 表示される時に位置↓ */
    transform: translateX(10%) translateY(10%);
  }

  #bear-talk img {
    width: 100%;
    height: auto;
  }

  /* -------- main-visual ------- */
  #main-visual p {
    font-size: 2.4rem;
  }

  /* ------- works ------- */
  #works ul {
    display: flex;
    justify-content: center;
  }

  /* ------ service ------- */
  #service ul {
    justify-content: center;
  }

  #service li {
    width: 18%;
    height: auto;
  }

  /* ------ blog ------ */
  .blog-readmore {
    transform: translate(80px);
  }
}
/* 




*/
/* -----大きいPC幅向け---画面幅が1200px以上の時に適用される----- */
@media screen and (min-width: 1200px) {
  /* ------------------------- index.html -------------- */
  header,
  footer {
    max-width: 1200px;
    margin: 8% auto;
  }

  /* -------- main-visual ------- */
  #main-visual p {
    font-size: 3.2rem;
  }

  #service-popup {
    max-width: 1400px;
  }

  #nav-pc {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
  }

  #nav-pc ul {
    display: flex;
    align-items: center;
    width: 94%;
    height: auto;
  }

  .nav-toggle {
    display: none;
  }
}
/* 




*/
/* -----大きいPC幅向け---画面幅が1500px以上の時に適用される----- */
@media screen and (min-width: 1500px) {
  /* -------- main-visual ------- */
  #main-visual p {
    font-size: 4rem;
  }
}
