body {
  width: 100%;
  height: auto;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #392913;
  background-color: #fef9f3;
}

/*　リセット */
body,
ul,
li {
  margin: 0;
  padding: 0;
}

/* ------------------------- 共通 ------------------------*/

#works,
#service,
#blog,
#about {
  padding-top: 6%;
  padding-bottom: 6%;
}

#html-window,
#design-window,
#operation-window,
#wp-window {
  /* display: none; */
  width: 60%;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
}

a:hover:not(#line-content-wrap a, #header-logo-img, #line-img) {
  /* カーソルが乗っている時に透明に近くなる */
  opacity: 0.3;
  cursor: pointer;
}

li {
  /* 頭の•を消す */
  list-style-type: none;
}

ul,
li,
a {
  color: #392a15;
  text-decoration: none;
}

.pankuzu,
.pankuzu a {
  width: 60%;
  height: auto;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 800;
  text-align: center;
  color: #52847d;
}

/* ================ header =====================*/
header {
  position: sticky;
  top: 0%;
  width: 100%;
  height: auto;
  z-index: 99999;
}

#header-pc {
  display: flex;
  align-items: center;
  width: 90%;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
}

#header-logo {
  width: 30%;
  height: auto;
}

#header-logo-txt {
  display: block;
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  text-align: center;
}

#header-logo-img_wrap {
  position: relative;
  width: 100%;
  height: auto;
}

#header-logo-img {
  display: block;
  width: 30%;
  height: auto;
  margin: 3% auto 0 auto;
}

#header-logo-img img {
  display: block;
  width: 100%;
  height: auto;
}

#bear-talk {
  position: absolute;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  /* 表示される時に位置↓ */
  transform: translateX(10%) translateY(10%);
  /* opactyとtransformの変化を○秒間でスムーズに動かす↓*/
}

#bear-talk img {
  display: none;
  width: 100%;
  height: auto;
}

#header-logo-img_wrap:hover #bear-talk {
  position: absolute;
  opacity: 1;
  transition: opacity 1.2s ease;
  z-index: 9999;
}

#nav-pc {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

#nav-pc ul {
  display: flex;
  align-items: center;
  width: 94%;
  height: auto;
}

#nav-pc li {
  position: relative;
  /* width: 16.6%; */
  width: 100%;
  height: auto;
  margin-left: 1%;
  text-align: center;
  font-size: 0.8rem;
  color: #392a15;
  border: solid 2px #f5d4cd;
  background-color: #fef9f3;
  border-radius: 1em;
}

#nav-pc li:active {
  transform: translateY(3px);
}

.nav-pc_content {
  width: 70%;
  height: auto;
  padding: 4px 4px;
  margin-left: auto;
  margin-right: auto;
}

.cat-popup {
  position: absolute;
  top: 0px;
  left: 20%;
  width: 40%;
  height: auto;
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: -10;
}

.cat-popup img {
  width: 100%;
  height: auto;
}

#nav-pc li:hover .cat-popup {
  top: -10px;
  opacity: 1;
  transform: translateY(-20px) scale(1);
}

.japan {
  font-size: 0.6rem;
}

#icon-instagram {
  width: 20%;
  font-size: 0.8rem;
  text-align: center;
}

#icon-instagram a {
  width: 100%;
  height: auto;
}

#icon-instagram_img {
  width: 20%;
  height: auto;
  margin: 5% auto 0 auto;
}

#icon-instagram_img img {
  width: 100%;
  height: auto;
}

/* -----ハンバーガーメニューのナビゲーション、レイアウトと非表示設定 ------*/
#nav-hum {
  /* 基本はナビゲーションは閉じておくようにする */
  display: none;
  position: fixed;
  right: 4%;
  width: 50%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  background-color: #faebd7;
  border-radius: 2em;
}

#nav-hum a {
  display: block;
  width: 40%;
  height: auto;
  padding-left: 2%;
  margin: 5% auto 0 auto;
  text-align: left;
  background-color: #f5deb3;
}

/* 未訪問のリンクにスタイルを適用する。擬似クラス */
#nav-hum a:link {
  color: #4d320f;
}

/* リンク訪問済みの場合にスタイルを適用する。 */
#nav-hum a:visited {
  color: #4d320f;
}

/* カーソルが乗っている時にスタイルを適用する */
#nav-hum a:hover {
  color: #ffffff;
}

/* =============== main ================== */
#main {
  position: relative;
  width: 100%;
  height: auto;
}

#main-visual_pc {
  position: relative;
  width: 100%;
  height: auto;
}

#main-visual_pc img {
  width: 100%;
  height: auto;
}

#main-visual_pc p {
  position: absolute;
  top: 6%;
  width: 30%;
  height: auto;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 1.8;
  text-align: right;
  font-size: 2rem;
  color: #faebd7;
}

#main-visual_sp {
  display: none;
  width: 100%;
  height: auto;
}

#main-visual_sp img {
  width: 100%;
  height: auto;
}

#main-visual_sp p {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 100%;
  height: auto;
}

/* --------------------- line -------------------- */

#line-wrap {
  position: fixed;
  right: 0%;
  bottom: 30%;
  width: 20%;
  height: auto;
  z-index: 9999;
}

.popup-line-message {
  position: absolute;
  top: 10%;
  right: 16%;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: -100;
}

.popup-line-message img {
  width: 100%;
  height: auto;
}

#line-img {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#line-img img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#line-wrap:hover .popup-line-message {
  opacity: 1;
  transform: translate(0, -120%) scale(1);
}

.ttl {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  text-align: center;
}

/* ------------------------- works ---------------------- */
#works {
  width: 100%;
  height: auto;
}

#works ul {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 10% auto 0 auto;
}

#works li {
  width: 25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.works-thumbnail {
  width: 100%;
  height: auto;
  border: solid 3.2px #3c4a49;
  border-radius: 1em;
  overflow: hidden;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.works-thumbnail:hover {
  transform: scale(0.8);
}

.works-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------- ハート -----------------*/
/* ▼ 必須：最初に追加 */
.like-container {
  position: relative;
  display: flex;
  width: 30%;
  height: auto;
  align-items: center;
  gap: 8px;
  transform: translateX(260%);
}

.heart {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  mask: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/heart-fill.svg")
    no-repeat center;
  -webkit-mask: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/heart-fill.svg")
    no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transition: background-color 0.3s, transform 0.1s;
  cursor: pointer;
}

.heart.liked {
  background-color: #d7776e;
  transform: scale(1.2);
}

.count {
  font-weight: bold;
  font-size: 14px;
  color: #d36156;
}

/* ▼ ハートのエフェクト */
.heart-effect {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #e97d73;
  mask: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/heart-fill.svg")
    no-repeat center;
  -webkit-mask: url("https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/heart-fill.svg")
    no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  animation: float 0.8s ease-out forwards;
  opacity: 0.8;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(0.5);
    opacity: 0;
  }
}

/* -------------------------Service ------------------ */
#service {
  position: relative;
  width: 100%;
  height: auto;
}

#service ul {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 10% auto 0 auto;
}

#service li {
  width: 18%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.service-thumbnail {
  width: 100%;
  height: auto;
  border: solid 3.2px #3c4a49;
  border-radius: 1em;
  overflow: hidden;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.service-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

#service li:nth-child(1) .service-thumbnail {
  transform: rotate(-14deg);
}

#service li:nth-child(2) .service-thumbnail {
  transform: rotate(11deg);
}

#service li:nth-child(3) .service-thumbnail {
  transform: rotate(-10deg);
}

#service li:nth-child(4) .service-thumbnail {
  transform: rotate(13deg);
}

#service li:hover .service-thumbnail {
  transform: rotate(0deg) scale(1.2);
}

#mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e9f3eb;
  opacity: 0.8;
  z-index: 99;
}

#mask.mask-hidden {
  display: none;
}

#service-popup {
  /* display: block; */
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: auto;
  z-index: 9999;
}

#service-popup__html,
#service-popup__daiko,
#service-popup__wp,
#service-popup__design {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  padding: 10% 0;
  background-color: #f5d4cd;
  border: solid 2px #f0b5b0;
  border-radius: 1em;
  transition: teransform 0.3s ease;
}

#service-popup.service-hidden,
#service-popup__html.service-html__hidden,
#service-popup__daiko.service-daiko__hidden,
#service-popup__wp.service-wp__hidden,
#service-popup__design.service-design__hidden {
  display: none;
}

.service-popup__ttl {
  width: 60%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.close-btn__html,
.close-btn__daiko,
.close-btn__wp,
.close-btn__design {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 8%;
  margin: 8% auto 0 auto;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 1em;
  cursor: pointer;
  background-color: #f0b5b0;
}

.service-popup__txt {
  width: 80%;
  height: auto;
  margin: 8% auto 0 auto;
  font-size: 0.88rem;
  text-align: left;
  line-height: 1.8rem;
}

/* ------------------------- blog -------------------- */
#blog {
  position: relative;
  width: 100%;
  height: auto;
}
.blog-label_new {
  position: absolute;
  top: 20%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  color: #e9f3eb;
  font-size: 1rem;
  text-align: center;
  background-color: #53847d;
  border-radius: 50%;
}

.blog-txt_wrap {
  display: flex;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 3%;
  margin: 10% auto 0 auto;
  border: solid 3.2px #f0b5b0;
  border-radius: 2em;
}

.blog-thumbnail {
  width: 20%;
  height: auto;
  border: solid 3.2px #3c4a49;
  border-radius: 5em;
  overflow: hidden;
}

.blog-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

.blog-content {
  width: 80%;
  height: auto;
  padding-left: 10%;
}

.blog-date {
  width: 90%;
  height: auto;
  font-size: 0.8rem;
  text-align: left;
}

.blog-text {
  width: 100%;
  text-align: left;
  padding-left: 10%;
}

.blog-readmore {
  position: relative;
  width: 90%;
  height: auto;
  font-size: 0.8rem;
  text-align: right;
}

.blog-readmore a {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 20%;
  height: auto;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 1em;
  background-color: #f5d4cd;
}

#blog-back-number {
  width: 60%;
  height: auto;
  margin: 5% auto 0 auto;
  font-size: 0.8rem;
  text-align: center;
}

#past-posts {
  display: block;
  width: 32%;
  height: auto;
  font-size: 0.8rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  background-color: #f5d4cd;
}

/* ================ footer =====================*/
footer {
  width: 80%;
  height: auto;
  padding: 8% 0 6% 0;
  margin: 3% auto 0 auto;
}

#footer-content_wrap {
  display: flex;
  align-items: center;
}

#footer-icon-wrap {
  width: 100%;
  height: auto;
  padding: 2% 0 0 2%;
}

.footer-logo {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  text-align: center;
}

#footer-logo_txt {
  display: block;
  width: 100%;
  height: auto;
}

.footer-logo p {
  display: block;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo img {
  width: 100%;
  height: auto;
}

#footer-icon-instagram {
  width: 50%;
  margin: 10% auto 0 auto;
  font-size: 0.8rem;
  text-align: center;
}

#footer-icon-instagram a {
  width: 100%;
  height: auto;
}

#footer-icon-instagram div {
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#footer-icon-instagram img {
  width: 100%;
  height: auto;
}

#footer-nav_pc {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#footer-nav_pc ul {
  align-items: center;
  width: 100%;
  height: auto;
}

#footer-nav_pc li {
  width: 100%;
  height: auto;
  margin-top: 8%;
  text-align: center;
  font-size: 0.8rem;
}

#footer-nav_pc li:active {
  transform: translateY(3px);
}

#copy {
  width: 100%;
  height: auto;
  margin-top: 12%;
  text-align: center;
}
