/* ----------------- works-archive ---------------- */
.works-archive__date {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.72rem;
  text-align: center;
  /* background-color: aquamarine; */
}

.works-archive__ttl {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.88rem;
  text-align: center;
  /* background-color: chocolate; */
}
/* ----------------- works-single ----------------- */
#works-single__contents {
  width: 80%;
  height: auto;
  padding: 5% 0;
  margin: 2% auto 0 auto;
  text-align: center;
  /* background-color: aliceblue; */
}

#works-single__ttl {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.99rem;
  /* background-color: antiquewhite; */
}

#works-single__url {
  font-size: 0.72rem;
}

#works-single__url a {
  color: #f0b5b0;
  text-decoration: none;
}

#works-single__date {
  width: 80%;
  height: auto;
  font-size: 0.72rem;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  /* background-color: aquamarine; */
}

#works-single__txt {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.88rem;
  /* background-color: hotpink; */
}

#works-single__charge {
  width: 100%;
  height: auto;
  margin-top: 8%;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.6rem;
  /* background-color: #f0b5b0; */
}

#works-single__used {
  width: 100%;
  height: auto;
  margin-top: 4%;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.6rem;
  /* background-color: #f0b5b0; */
}

#works-single__goal {
  width: 100%;
  height: auto;
  margin-top: 4%;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.6rem;
  /* background-color: #f0b5b0; */
}

#works-single__design {
  width: 100%;
  height: auto;
  margin-top: 4%;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.6rem;
  /* background-color: #f0b5b0; */
}

#works-single__summary {
  width: 100%;
  height: auto;
  margin-top: 4%;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.6rem;
  /* background-color: #f0b5b0; */
}

#works-single__thumbnail {
  width: 60%;
  height: auto;
  margin: 12% auto 0 auto;
  border-radius: 1em;
  overflow: hidden;
}

#works-single__thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

#works-single__back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 32px;
  margin: 8% auto 0 auto;
  font-size: 0.8rem;
  background-color: #f0b5b0;
  border-radius: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#works-single__back a {
  color: #fbf0e3;
  text-decoration: none;
}
